@import '../../styles//Variables.scss';


.Planet {
    min-height: calc(100vh - 100px);

    @media only screen and (min-width: $lg) {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
}
