.Home{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(10, 1fr);
  min-height: 100vh;
  width: 100vw;
  background-image: url("/Images/Home/Mask.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}