@import "styles/Variables";

.Nav {
    display: none;
    background-color: rgba($Color-White, 0.4);
    width: 60%;
    @media only screen and (min-width: $md) {
        display: block;
        padding-top: 1.5rem;
    }
    @media only screen and (min-width: $lg) {
        padding-top: .75rem;
    }
}

//Nav Styles
.Nav > ul {
    display: flex;
    justify-content: space-around;
    padding-inline: 2.5rem;
    font-size: 1.4rem;
    align-items: center;
    list-style: none;
    @media only screen and (min-width: $lg) {
        justify-content: center;
        gap: 3rem;
    }

    & li {
        color: $Color-White;
        font-weight: 500;
    }

    & li a {
        display: inline-block;
        padding: 1rem 0rem 2.5rem;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s ease;

        &:hover {
            border-bottom: 2px solid rgba($Color-White, 0.5);
        }

        &.active {
            border-bottom: 2px solid $Color-White;
        }
    }

    & span {
        margin-right: 0.5rem;
        font-weight: bold;
    }
}
