@import 'styles/Variables';

.Sidebar {
    position: fixed;
    top: 0;
    right: -28rem;
    width: 28rem;
    background-color: #46474e;
    @supports (backdrop-filter: blur(2.3rem)) {
        backdrop-filter: blur(2.3rem) brightness(0.8);
        background-color: rgba(255, 255, 255, 0.25);
    }
    min-height: 100vh;
    transition: right .3s ease-in-out;
    z-index: 100;

    &.active {
        right: 0;
    }

    & > .CloseIcon {
        width: 4rem;
        height: 4rem;
        background-color: transparent;
        position: relative;
        margin: .75rem .75rem 5rem auto;
        cursor: pointer;

        & > span {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 2.5rem;
            height: .3rem;
            background-color: $Color-Light-Grey;

            &:first-child {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-child(2) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}

.Nav {
    color: $Color-White;

    & > ul {
        list-style: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
        width: 100%;

        & a {
            padding: 1rem;
            display: inline-block;
            letter-spacing: 1px;

            & span {
                margin-right: 2.5rem;
                font-weight: bold;
            }
        }
    }
}

.active {
    color: $Color-White !important;
    font-weight: 500;
}