//Import Variables
@import "Variables";

//Global Styles
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // Set 1rem to 10px
}

body {
    font-family: $Font-Text;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    font-family: $Font-Heading;
}

.destination-bullets {
    color: white !important;
    top: 30rem !important;
    bottom: initial !important;
    left: 50%;
    transform: translateX(-50%) !important;

    @media only screen and (min-width: $md) {
        top: 46rem !important;
    }

    @media only screen and (min-width: $lg) {
        top: 15rem !important;
        right: 0;
        left: initial !important;
        width: 50% !important;
        text-align: left !important;
        left: 50%;
        transform: translateX(0) !important;
    }
}

.crew-bullets{
    top: 42%;
    left: 50%;
    transform: translateX(-50%) !important;

    & span{
        margin: .6rem;
        background-color: rgba($Color-White, .27);
        opacity: 1;

        &.swiper-pagination-bullet-active{
            background-color: $Color-White;
        }
    }

    @media only screen and (min-width: $md) {
        top: 29%;

        & span{
            width: 1.1rem;
            height: 1.1rem;
        }
    }

    @media only screen and (min-width: $lg) {
        top: initial !important;
        right: initial;
        left: 15rem !important;
        bottom: 5rem;
        width: 50% !important;
        transform: translateX(0) !important;
        text-align: left !important;
    }
}