//Barlow and belle-fair Fonts Import
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Bellefair&display=swap');

//Fonts
$Font-Heading:'Bellefair', serif;
$Font-Text: 'Barlow', sans-serif;

//Colors
$Color-Main: #0B0D17;
$Color-Light-Grey: #D0D6F9;
$Color-White: #ffffff;

//Sizes font
$Size-Font-Nav-Tablet: 1.3rem;