@import '../../styles//Variables.scss';

.Image{
    display: flex;
    justify-content: center;

    img{
        width: 17.7rem !important;
        height: 22.2rem !important;
    }
    
    @media only screen and (min-width: $md){
        img{
            width: 45.6rem !important;
            height: 57.2rem !important;
        }
    }
    
    @media only screen and (min-width: $lg){
        img{
            object-fit: contain;
            // width: 56.8rem !important;
            // height: 71.2rem !important;
        }
    }
}